Source: zero-lliurex-cmaptools
Section: admin
Priority: optional
Maintainer: Equipo LliureX <lliurex@gva.es>
Uploaders: Equipo LliureX <lliurex@gva.es>
Build-Depends: llxsrchelper,debhelper (>= 10),zero-dev
Standards-Version: 4.1.2

Package: zero-lliurex-cmaptools
Architecture: all
Depends: ${misc:Depends},epi-gtk
Description: CmapTools Installer
 Installer for CmapTools
